{% extends "health_care_portal_base.html" %}
{% block content %}
<center>
    <br>
<table style='border: 1px solid black; width:1000px'>
    <h3>
        Top 10 Medical Procedures by Total Count
    </h3>
    <thead>
        <tr>
        <th style='border: 1px solid black', rowspan="2"><center>Medical Procedure Code</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Procedure Description</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Total Count</center></th>
        </tr>
    </thead>
    {% for num in range(data['top10count']|length) %}
    <tbody>
        <tr>
        <td style='border: 1px solid black'><center>{{data['top10count'][num][0]}}</center></td>
        <td style='border: 1px solid black'><center>{{data['top10count'][num][1]}}</center></td>
        <td style='border: 1px solid black'><center>{{data['top10count'][num][2]}}</center></td>
        </tr>
    </tbody>
    {% endfor %}
</table>
    <br>
<table style='border: 1px solid black; width:1000px'>
    <h3>
        Top 10 Medical Procedure by Cost
    </h3>
    <thead>
        <tr>
        <th style='border: 1px solid black', rowspan="2"><center>Medical Procedure Code</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Procedure Description</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Procedure Cost ($)</center></th>
        </tr>
    </thead>

    {% for num in range(data['top10cost']|length) %}
    <tbody>
        <tr>
        <td style='border: 1px solid black'><center>{{data['top10cost'][num][0]}}</center></td>
        <td style='border: 1px solid black'><center>{{data['top10cost'][num][1]}}</center></td>
        <td style='border: 1px solid black'><center>{{data['top10cost'][num][2]}}</center></td>
        </tr>
    </tbody>
    {% endfor %}
</table>
<br>
<table style='border: 1px solid black; width:1000px'>
    <h3>
        Top 10 Employees by Total Medical Cost 
    </h3>
    <thead>
        <tr>
        <th style='border: 1px solid black', rowspan="2"><center>Employee ID</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Employee LAST NAME</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Employee First Name</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Employee Gender</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Total Medical Cost ($)</center></th>
        </tr>
    </thead>
    {% for num in range(data['top10emp']|length) %}
    <tbody>
        <tr>
        <td style='border: 1px solid black'><center>{{data['top10emp'][num][0]}}</center></td>
        <td style='border: 1px solid black'><center>{{data['top10emp'][num][1]}}</center></td>
        <td style='border: 1px solid black'><center>{{data['top10emp'][num][2]}}</center></td>
        <td style='border: 1px solid black'><center>{{data['top10emp'][num][3]}}</center></td>
        <td style='border: 1px solid black'><center>{{data['top10emp'][num][4]}}</center></td>
        </tr>
    </tbody>
    {% endfor %}
</table>
<br><br>
</center>
{% endblock content %}